@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
:root {
	--header_bg_color: #0D1C32;
	--deep_blue_color: #0C1F31;
	--primary_color: #60FEEB;
	--tertiary_color: #6FDA44;
	--secondary_color: #B0C5E8;
	--grey_white_color: #EBF0FA;
	--dark_color: #333333;
	--white_color: #ffffff;
	--body_bg_color: linear-gradient(178.53deg, #102741 1.25%, #184C6C 98.7%);
}

@font-face {
	font-family: Gilroy;
	font-weight: light;
	src: url("./../fonts/Gilroy-Light.ttf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: regular;
	src: url("./../fonts/Gilroy-Regular.ttf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: medium;
	src: url("./../fonts/Gilroy-Medium.ttf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: semi_bold;
	src: url("./../fonts/Gilroy-SemiBold.ttf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: bold;
	src: url("./../fonts/Gilroy-Bold.ttf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: heavy;
	src: url("./../fonts/Gilroy-Heavy.ttf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: extra_bold;
	src: url("./../fonts/Gilroy-ExtraBold.ttf") format("opentype");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 15px;
	background: var(--body_bg_color);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}

h2 {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
}

p,
span,
label {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
}

a,
ul,
ol,
dl {
	list-style-type: none;
	text-decoration: none;
}

a:hover,
ul:hover,
ol:hover,
dl:hover {
	text-decoration: none;
}

a,
button,
span,
label,
i,
input,
textarea {
	display: inline-block;
}

a,
button {
	transition: all linear .2s;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 15px;
}

h3 {
	color: var(--grey_white_color);
	font-family: "Gilroy";
	padding-bottom: 8px;
	font-size: 20px;
}

svg.svg-icon {
	width: 16px;
}

.spinner {
	display: none;
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-animation: infinite-spinning 1.08s linear infinite;
	animation: infinite-spinning 1.08s linear infinite;
	vertical-align: middle;
	margin-right: 7px;
	top: -1px;
}

.spinner:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 50%;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	margin-left: -2px;
	background: #fff;
}

.secondary-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	border: 1px solid var(--white_color);
	border-radius: 4px;
	padding: 9px 20px;
}

.secondary-btn span {
	color: var(--white_color);
	font-size: 15px;
}

.secondary-btn:hover {
	background-color: var(--white_color);
}

.secondary-btn:hover span {
	color: var(--header_bg_color);
}

.section-header.center {
	text-align: center;
}

.section-header.right {
	text-align: right;
}

.section-header--subtitle {
	color: var(--primary_color);
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}

.section-header--title {
	color: var(--white_color);
	font-size: 48px;
	font-family: "Gilroy";
	margin-top: 25px;
}

.section-header--description {
	color: var(--grey_white_color);
	font-weight: 400;
	font-size: 16px;
	padding-top: 8px;
}

.ripple_effect {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 10px 22px;
	border-radius: 4px;
}

.ripple_effect .ripple_button__text {
	position: relative;
	z-index: 1;
	transition: .1s ease-in;
	font-family: "Inter", sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.ripple_effect__shape {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 0;
	border-radius: 50%;
}

.ripple_effect__active {
	transition: width .3s ease-in, padding-bottom .3s ease-in;
	width: 250%;
	padding-bottom: 250%;
}

.style-1 .ripple_effect {
	background-color: var(--tertiary_color);
}

.style-1 .ripple_effect .ripple_button__text {
	color: var(--header_bg_color);
}

.style-1 .ripple_effect__shape {
	background-color: var(--white_color);
}

.style-2 .ripple_effect {
	background-color: var(--primary_color);
}

.style-2 .ripple_effect .ripple_button__text {
	color: var(--header_bg_color);
}

.style-2 .ripple_effect__shape {
	background-color: var(--white_color);
}

.navbar-section {
	background: #0d1c327d;
	padding: 18px 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	backdrop-filter: blur(6px);
}

.navbar-section .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.navbar-section .navbar__menu__list {
	display: flex;
	column-gap: 30px;
	row-gap: 20px;
}

.navbar-section .navbar__menu__list--link {
	color: var(--white_color);
	font-weight: 600;
	font-size: 16px;
}

.navbar-section .navbar__menu__list--link:hover,
.navbar-section .navbar__menu__list--link.active {
	color: var(--tertiary_color);
}

.navbar-section .navbar--button {
	display: flex;
	align-items: center;
	gap: 15px;
}

.navbar-section .navbar--button .primary-button {
	margin-bottom: -4px;
}

.banner-section {
	padding: 250px 0;
	background: url("./../images/banner-background.png");
	background-size: 600px;
	background-repeat: no-repeat;
	background-position: right 162px;
}

.banner-section .banner--subtitle {
	background: rgba(96, 254, 235, 0.1);
	border-radius: 100px;
	display: inline-block;
	padding: 8px 20px;
	font-size: 16px;
	font-weight: 400;
	color: var(--primary_color);
}

.banner-section .banner--title {
	color: var(--grey_white_color);
	font-size: 52px;
	line-height: 60px;
	font-family: "Gilroy";
	font-weight: 700;
	padding: 30px 0 40px 0;
}

.cta-section {
	--cta-height: 220px;
}

.cta-section .cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	border: 2px solid rgba(96, 254, 235, 0.6);
	box-sizing: border-box;
	border-radius: 8px;
	padding: 0 10px 0 60px;
	height: var(--cta-height);
	overflow: clip;
	background: var(--primary_color);
	background: linear-gradient(270deg, rgba(96, 254, 235, 0.2) 0%, rgba(96, 254, 235, 0) 100%);
}

.cta-section .cta__content {
	height: var(--cta-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cta-section .cta__content--link svg {
	width: 24px;
}

.cta-section .cta__content--title {
	color: var(--grey_white_color);
	font-family: "Gilroy";
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
}

.cta-section .cta__content--description {
	color: var(--secondary_color);
	line-height: 32px;
}

.cta-section .cta__content--link {
	color: var(--primary_color);
	margin-top: 21px;
	align-self: baseline;
	display: flex;
	align-items: center;
	gap: 10px;
	border-left: 0px solid transparent;
}

.cta-section .cta__content--link:hover {
	color: var(--white_color);
	padding-left: 10px;
	border-left: 10px solid var(--primary_color);
}

.cta-section .cta__content--link:hover path {
	fill: var(--white_color);
}

.cta-section .cta--icon svg {
	transform: rotate(-15deg);
	width: 437px;
	margin-top: -29px;
}

.cta-section .cta--icon path {
	fill: var(--tertiary_color);
}

.service-section {
	padding-top: 150px;
	--gap: 25px;
}

.service-section .service-grid {
	padding-top: 60px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--gap);
}

.service-section .service-grid .left-column {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	gap: var(--gap);
}

.service-section .service-grid .right-column {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gap);
}

.service-section .service-card {
	background: rgba(96, 254, 235, 0.03);
	border-radius: 8px;
	padding: 25px;
	position: relative;
}

.service-section .service-card.ux-ui .svg-icon {
	width: 19px;
}

.service-section .service-card:hover .service-card--icon path {
	fill: var(--white_color);
}

.service-section .service-card--icon {
	position: absolute;
	right: 25px;
	top: 25px;
	background: rgba(96, 254, 235, 0.08);
	border-radius: inherit;
	width: 56px;
	height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width .2s;
}

.service-section .service-card--icon .svg-icon {
	width: 28px;
}

.service-section .service-card--icon path {
	transition: all linear .2s;
}

.service-section .service-card--title {
	max-width: calc(100% - 80px);
}

.service-section .service-card li {
	color: var(--secondary_color);
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
}

.service-section .service-card--badge {
	border-radius: 2px;
	background: var(--primary_color);
	color: var(--header_bg_color);
	font-size: 15px;
	font-weight: 500;
	padding: 5px 12px;
	margin-bottom: 22px;
}

.service-section .service-card.wordpress {
	grid-column: 1/3;
}

.solution-section {
	padding-top: 150px;
}

.solution-section .solution {
	max-width: 720px;
	margin: 0 auto;
}

.solution-section .solution__content {
	padding-top: 70px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-column-gap: 80px;
	grid-row-gap: 40px;
}

.solution-section .solution-card--icon {
	padding-bottom: 8px;
}

.solution-section .solution-card--icon .svg-icon {
	width: 30px;
}

.solution-section .solution-card--description {
	color: var(--secondary_color);
	font-weight: 400;
	line-height: 24px;
}

.portfolio-section {
	padding-top: 150px;
}

.portfolio-section .portfolio__content {
	padding-top: 60px;
}

.portfolio-section .portfolio__content img {
	width: 100%;
}

.portfolio-section .portfolio__nav {
	padding-bottom: 50px;
}

.portfolio-section .portfolio__nav ul {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.portfolio-section .portfolio__nav--btn {
	color: var(--primary_color);
	font-size: 16px;
	font-weight: 400;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	transition: all linear .2s;
	user-select: none;
}

.portfolio-section .portfolio__nav--btn:hover,
.portfolio-section .portfolio__nav--btn.active {
	background: rgba(32, 193, 254, 0.15);
	border-radius: 4px;
}

.portfolio-section .portfolio__tab-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	display: none;
	visibility: hidden;
	opacity: 0;
}

.portfolio-section .portfolio__tab-grid.active {
	display: grid;
	visibility: visible;
	opacity: 1;
	animation-name: upwork-short-slide-up;
	animation-duration: .5s;
}

.portfolio-section .portfolio__card {
	position: relative;
	overflow: clip;
	border-radius: 8px;
}

.portfolio-section .portfolio__card img {
	transition: all linear .3s;
}

.portfolio-section .portfolio__card:hover img {
	filter: grayscale(1);
	transform: scale(1.1);
}

.portfolio-section .portfolio__card:hover .portfolio__card--overlay {
	opacity: 1;
	transform: scale(1);
}

.portfolio-section .portfolio__card--title {
	color: var(--dark_color);
	font-size: 24px;
	padding-bottom: 15px;
}

.portfolio-section .portfolio__card--description {
	color: var(--dark_color);
	line-height: 26px;
	font-size: 16px;
}

.portfolio-section .portfolio__card--overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.85);
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	opacity: 0;
	transition: all linear .2s;
	transform: scale(1.1);
}

.endorsement-section {
	padding-top: 150px;
}

.endorsement-section img {
	width: 100%;
}

.endorsement-section .endorsement__content .swiper {
	padding: 50px 0;
}

.endorsement-section .endorsement__card {
	position: relative;
}

.endorsement-section .endorsement__card--image {
	border-radius: 8px;
}

.endorsement-section .endorsement__card--play {
	background-color: var(--deep_blue_color);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all linear .2s;
	padding-left: 4px;
}

.endorsement-section .endorsement__card--play:hover {
	background-color: var(--tertiary_color);
}

.endorsement-section .endorsement .swiper-wrapper {
	padding-bottom: 20px;
}

.endorsement-section .endorsement .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: var(--primary_color);
	opacity: 0.3;
	margin: 0 7px;
}

.endorsement-section .endorsement .swiper-pagination-bullet-active {
	opacity: 1;
}

.team-section {
	padding-top: 150px;
}

.team-section .team {
	max-width: 900px;
	margin: 0 auto;
}

.team-section .team__content {
	padding-top: 70px;
}

.team-section .team__card {
	display: flex;
	column-gap: 60px;
}

.team-section .team__card.space-between {
	justify-content: space-between;
}

.team-section .team__card:not(:last-child) {
	margin-bottom: 70px;
}

.team-section .team__card--content {
	max-width: 530px;
}

.team-section .team__card--image {
	width: 270px;
}

.team-section .team__card--image img {
	width: 100%;
	border-radius: 8px;
}

.team-section .team__card--name {
	color: var(--grey_white_color);
	font-size: 40px;
	padding-bottom: 8px;
}

.team-section .team__card--designation {
	color: var(--primary_color);
	font-size: 16px;
	padding-bottom: 20px;
}

.team-section .team__card--description {
	color: var(--grey_white_color);
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 25px;
}

.team-section .team__card li {
	display: flex;
	column-gap: 8px;
	flex-wrap: wrap;
	align-items: center;
	line-height: 30px;
}

.team-section .team__card li a:hover {
	color: var(--primary_color);
}

.team-section .team__card--label {
	display: flex;
	align-items: center;
	column-gap: 8px;
	color: var(--grey_white_color);
	font-size: 16px;
	font-weight: 500;
}

.team-section .team__card--label .svg-icon {
	width: 18px;
}

.team-section .team__card--profile {
	color: var(--grey_white_color);
	font-size: 16px;
	font-weight: 500;
}

.team-section .team__card--profile::before {
	content: '';
	width: 4px;
	height: 4px;
	background-color: var(--grey_white_color);
	border-radius: 50%;
	display: inline-block;
	margin-left: 9px;
	position: relative;
	left: -9px;
	top: -2px;
}

.contact-section {
	--gap: 25px;
	padding-top: 150px;
	display: grid;
	grid-template-columns: 2fr 1.6fr;
	column-gap: 90px;
	position: relative;
}

.contact-section .form-container {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.contact-section .contact-map {
	height: 800px;
	object-fit: cover;
	width: 100%;
}

.contact-section .row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--gap);
}

.contact-section #contact-form {
	display: flex;
	flex-direction: column;
	width: 55%;
	padding-top: 40px;
	gap: var(--gap);
}

.contact-section #contact-form textarea {
	resize: vertical;
}

.contact-section #contact-form input,
.contact-section #contact-form textarea {
	font-size: 16px;
	font-weight: 500;
	padding: 15px 22px;
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--grey_white_color);
	border: 1px solid transparent;
	transition: border .2s;
}

.contact-section #contact-form input::placeholder,
.contact-section #contact-form textarea::placeholder {
	color: var(--grey_white_color);
}

.contact-section #contact-form input:focus,
.contact-section #contact-form input:active,
.contact-section #contact-form input:hover,
.contact-section #contact-form textarea:focus,
.contact-section #contact-form textarea:active,
.contact-section #contact-form textarea:hover {
	outline: 0;
}

.contact-section #contact-form input:focus,
.contact-section #contact-form textarea:focus {
	border: 1px solid var(--primary_color);
}

.contact-section #contact-form #submit-btn {
	align-self: baseline;
	color: var(--deep_blue_color);
	font-size: 18px;
	background-color: var(--primary_color);
	display: inline-block;
	padding: 13px 35px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	font-weight: 500;
	font-family: "Inter", sans-serif;
	transition: all linear .2s;
	margin-top: 30px;
	position: relative;
	user-select: none;
}

.contact-section #contact-form #submit-btn.loading {
	pointer-events: none;
	filter: grayscale(1);
}

.contact-section #contact-form #submit-btn.loading .spinner {
	display: inline-block;
	margin-right: -5px;
	margin-left: 8px;
}

.contact-section #contact-form #submit-btn:hover {
	background: var(--white_color);
}

.contact-section #response p {
	background: #e9bbbb;
	width: 55%;
	color: red;
	padding: 10px 15px;
	text-align: center;
	margin-top: 30px;
	border: 3px solid #ff9191;
	font-size: 19px;
}

.contact-section .success-markup {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 320px;
}

.contact-section .success-markup span {
	width: 100px;
	height: 100px;
	background: #31ac00;
	text-align: center;
	line-height: 100px;
	font-size: 41px;
	border-radius: 50%;
	color: var(--white_color);
}

.contact-section .success-markup p {
	font-size: 18px;
	color: var(--white_color);
	text-align: center;
	padding-top: 15px;
	line-height: 28px;
}

.footer-section {
	padding: 40px 0;
}

.footer-section .footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footer-section .footer--logo {
	margin-right: 20px;
}

.footer-section .footer--social-profile .svg-icon {
	width: 22px;
}

.footer-section .footer--social-profile:hover path {
	fill: var(--primary_color);
}

.footer-section .footer--social-profile.linkedin path:first-child {
	fill: var(--white_color);
}

.footer-section .footer--social-profile.linkedin path:last-child {
	fill: #0C4A6A;
}

.footer-section .footer--social-profile.linkedin:hover path:first-child {
	fill: var(--primary_color);
}

.footer-section .footer .col {
	display: flex;
	align-items: center;
	gap: 15px;
}

.footer-section .footer .col * {
	color: var(--grey_white_color);
	font-size: 16px;
}

.footer-section .footer .col a:hover {
	color: var(--primary_color);
}

@keyframes upwork-short-slide-up {

0% {
	transform: translateY(60px);
}

100% {
	transform: translateY(0px);
}

}

@keyframes infinite-spinning {

from {
	-webkit-transform: rotate(0);
	transform: rotate(0);
}

to {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

}

