.secondary-btn {
    display: flex;
    align-items: center;
    border: 1px solid css_var('white_color');
    border-radius: 4px;
    padding: 9px 20px;

    span {
        color: css_var('white_color');
        font-size: 15px;
        margin-left: 8px;
    }

    &:hover {
        background-color: css_var('white_color');
        span {
            color: css_var('header_bg_color');
        }
    }
}