.section-header {
    
    &.center {
        text-align: center;
    }

    &.right {
        text-align: right;
    }


    
    @include responsive($mobile) {
        text-align: center;
    }

    &--subtitle {
        color: css_var('primary_color');
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 16px;
        font-family: $secondary_font;
        font-weight: 400;
    }

    &--title {
        color: css_var('white_color');
        font-size: 48px;
        font-family: $primary_font;
        margin-top: 25px;

        @include responsive($default_width) {
            font-size: 40px;
            margin-top: 20px;
        }

        @include responsive($tablet) {
            font-size: 34px;
            margin-top: 10px;
        }

        @include responsive($mobile) {
            font-size: 26px;
            margin-top: 5px;
        }
    }

    &--description {
        color: css_var('grey_white_color');
        font-weight: 400;
        font-size: 16px;
        padding-top: 8px;
    }

}