.container {
    max-width: $default_width;
    margin: 0 auto;
    padding: 0 25px;
}

h3 {
    color: css_var('grey_white_color');
    font-family: $primary_font;
    padding-bottom: 8px;
    font-size: 20px;
}

svg.svg-icon {
    width: 16px;
}