.contact-section {

    margin-top: 150px;

    @include responsive($default_width) {
        margin-top: 70px;
    }
    
    .contact-map {
        height: 700px;
        object-fit: cover;
        width: 100%;

        @include responsive($tablet) {
            height: 70vw;
            object-fit: cover;
            width: 100%;
        }
    }

}