.endorsement-section {
    padding-top: 150px;

    @include responsive($default_width) {
        padding-top: 120px;
    }

    @include responsive($tablet) {
        padding-top: 90px;
    }

    img {
        width: 100%;
    }

    .endorsement {
        &__content {    
            .swiper  {
                padding: 50px 0;
            }
    
        }

        &__card {
            position: relative;
            &--image {
                border-radius: 8px;
            }

            &--play {
                background-color: css_var('deep_blue_color');
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 56px;
                height: 56px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all linear .2s;
                padding-left: 4px;

                &:hover {
                    background-color: css_var('tertiary_color');
                }
            }
        }

        .swiper-wrapper {
            padding-bottom: 20px;
        }

        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: css_var('primary_color');
            opacity: 0.3;
            margin: 0 7px;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

}