.footer-section {
    padding: 30px 0;

    @include responsive($mobile) {
        background: #0d1c328a;
        text-align: center;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        
        @include responsive($mobile) {
            flex-direction: column;
        }


        &--logo {
            margin-right: 20px;

            
            @include responsive($mobile) {
                margin-right: 0;
                display: block;
            }
        }

        &--copyright {
            @include responsive($mobile) {
                color: css_var('secondary_color') !important;
                font-size: 14px !important;
            }
        }

        &--social-profile {
            @include responsive($mobile) {
                margin: 20px 5px;
            }

            .svg-icon {
                width: 22px;   
            }

            &:hover {
                path {
                    fill: css_var('primary_color')
                }
            }

            &.linkedin {    

                margin-right: 16px;

                path:first-child {
                    fill: css_var('white_color');
                }

                path:last-child {
                    fill: #0C4A6A;
                }

                &:hover {
                    path:first-child {
                        fill: css_var('primary_color');
                    }
                }
            }
        }

        .col {
            display: flex;
            align-items: center;

            @include responsive($mobile) {
                display: unset;
            }

            * {
                color: css_var('grey_white_color');
                font-size: 16px;
            }

            a:hover {
                color: css_var('primary_color');
            }

        }
    }
}