.navbar-section {
    background: #0d1c327d;
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    backdrop-filter: blur(6px);

    @include responsive($tablet) {
        padding: 10px 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        &__menu {
            @include responsive($default_width) {
                display: none
            }

            &__list {
                display: flex;

                li {
                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                }
                
                &--link {
                    color: css_var('white_color');
                    font-weight: 600;
                    font-size: 16px;

                    &:hover,
                    &.active {
                        color: css_var('tertiary_color');
                    }
                }
                
            }
        }

        &--button{
            display: flex;
            align-items: center;

            @include responsive($default_width) {
                display: none
            }

            .primary-button {
                margin-left: 20px;

                .ripple_effect {
                    display: inherit;
                }
            }
        }

        &--hamburger {
            display: none;

            .hamburger-button {
                background: transparent;
                border: 0;
                cursor: pointer;

                &:hover {
                    rect {
                        fill: css_var('primary_color')
                    }
                }
            }

            .svg-icon {
                width: 34px;
                rect {
                    transition: all linear .2s;
                }
            }

            @include responsive($default_width) {
                display: inline-block;
            }
        }
    }
}