.portfolio-section {
    padding-top: 150px;

    @include responsive($default_width) {
        padding-top: 100px;
    }

    @include responsive($tablet) {
        padding-top: 70px;
    }

    .portfolio__content {
        padding-top: 60px;

        @include responsive($default_width) {
            padding-top: 40px;
        }

        img {
            width: 100%;
        }
    }


    .portfolio__nav {
        padding-bottom: 50px;

        @include responsive($tablet) {
            padding-bottom: 30px;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 5px;

        }

        &--btn {
            color: css_var('primary_color');
            font-size: 16px;
            font-weight: 400;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            transition: all linear .2s;
            user-select: none;

            &:hover,
            &.active {
                background: rgba(32, 193, 254, 0.15);
                border-radius: 4px;
            }
        }
    }


    .portfolio__tab {
        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            display: none;
            visibility: hidden;
            opacity: 0;

            @include responsive($tablet) {
                gap: 10px;
            }

            &.active {
                display: grid;
                visibility: visible;
                opacity: 1;
                animation-name: upwork-short-slide-up;
                animation-duration: .5s;
            }
        }
    }

    .portfolio__card {
        position: relative;
        overflow: clip;
        border-radius: 8px;

        @include responsive($tablet) {
            border-radius: 0px;
            overflow: unset;
            background: css_var('deep_blue_color');
        }

        img {
            transition: all linear .3s;
        }

        &:hover {
            img {
                filter: grayscale(1);
                transform: scale(1.1);
            }
            .portfolio__card--overlay {
                opacity: 1;
                transform: scale(1);
            }

            @include responsive($tablet) {
                img {
                    filter: grayscale(0);
                    transform: scale(1);
                }
            }
        }


        &--title {
            color: css_var('dark_color');
            font-size: 24px;
            padding-bottom: 15px;

            @include responsive($tablet) {
                font-size: 20px;
                color: css_var('grey_white_color');
            }
        }

        &--description {
            color: css_var('dark_color');
            line-height: 26px;
            font-size: 16px;
            @include responsive($tablet) {
                font-size: 15px;
                color: css_var('secondary_color');
            }
        }

        &--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba( sass_var('white_color'), .85);
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            opacity: 0;
            transition: all linear .2s;
            transform: scale(1.1);

            @include responsive($default_width) {
                padding: 20px;
            }

            @include responsive($tablet) {
                position: static;
                display: block;
                opacity: 1;
                background: transparent;
                transform: scale(1);
                text-align: left;
            }
        }
    }

}