#responsive-main-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: css_var('header_bg_color');
    z-index: 99999;
    padding: 40px 20px;
    overflow-y: scroll;

    @include responsive($tablet) {
        padding: 30px 0;
    }

    @include responsive($mobile) {
        padding: 30px 15px;
    }

    .responsive-header {
        position: relative;
        &--head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            align-items: center;

            @include responsive($tablet) {
                margin-bottom: 20px;
            }

            label {
                font-size: 40px;
                font-family: $primary_font;
                color: css_var('grey_white_color');

                @include responsive($tablet) {
                    font-size: 34px;
                }

                @include responsive($mobile) {
                    font-size: 26px;
                }
            }

            .hamburger-close-btn {
                background: transparent;
                border: 0;
                position: fixed;
                right: 35px;
                top: 35px;
                cursor: pointer;

                
                @include responsive($tablet) {
                    right: 30px;
                }

                @include responsive($mobile) {
                    right: 35px;
                }

                .svg-icon {
                    width: 30px;
                    @include responsive($tablet) {
                        width: 25px;
                    }

                    @include responsive($mobile) {
                        width: 18px;
                    }
                    
                }

                &:hover {
                    path {
                        fill: css_var('primary_color')
                    }
                }
            }
        }


        &--menu {
            .navbar__menu {
                li {
                    line-height: 60px;

                    @include responsive($tablet) {
                        line-height: 50px;
                    }

                    a {
                        color: css_var('secondary_color');
                        font-size: 30px;

                        @include responsive($tablet) {
                            font-size: 24px;
                        }

                        
                        @include responsive($mobile) {
                            font-size: 18px;
                        }

                        &:hover {
                            color: css_var('primary_color');
                        }
                    }
                }
            }
        }

        &--footer {
            margin-top: 50px;
            display: flex;
            justify-content: start;
            align-items: center;

            @include responsive($mobile) {
                flex-direction: column;
            }

            .ripple_effect {
                padding: 12px 32px;
            }

            .secondary-btn {
                padding: 11px 20px;
                margin-left: 16px;

                @include responsive($mobile) {
                    margin-left: 0;
                    margin-top: 16px;
                }
            }
        }

        .footer {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 40px;
            justify-content: flex-start;

            @include responsive($mobile) {
                flex-direction: column;

                &--copyright {
                    font-size: 14px !important;
                    color: css_var('secondary_color') !important;
                }
            }

            .col {
                padding: 0 15px;

                @include responsive($tablet){
                    padding: 15px 15px;
                }

                @include responsive($mobile){
                    padding: 10px 0px;
                }
            }

            &--social-profile {
                .svg-icon {
                    width: 22px;   
                }
    
                &:hover {
                    path {
                        fill: css_var('primary_color')
                    }
                }
    
                &.linkedin {    
                    path:first-child {
                        fill: css_var('white_color');
                    }
    
                    path:last-child {
                        fill: #0C4A6A;
                    }
    
                    &:hover {
                        path:first-child {
                            fill: css_var('primary_color');
                        }
                    }
                }
            }
    
            .col {
                display: flex;
                align-items: center;
    
                * {
                    color: css_var('grey_white_color');
                    font-size: 16px;

                    @include responsive($mobile) {
                        text-align: center;
                    }        
                }
    
                a:hover {
                    color: css_var('primary_color');
                }
    
            }
        }
    }
}