.solution-section {
    padding-top: 150px;

    @include responsive($default_width) {
        padding-top: 120px;
    }

    @include responsive($tablet) {
         padding-top: 90px;
    }

    .solution {
        max-width: 720px;
        margin: 0 auto;

        &__content {
            padding-top: 60px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 80px;
            grid-row-gap: 40px;

            @include responsive($default_width) {
                padding-top: 40px;
            }

            @include responsive($tablet) {
                grid-column-gap: 20px;
            }

            @include responsive($mobile) {
                grid-template-columns: 1fr;
                text-align: center;
            }

        }

        &-card--icon {
            padding-bottom: 8px;
            
            .svg-icon {
                width: 30px;
            }
        }

        &-card--description {
            color: css_var('secondary_color');
            font-weight: 400;
            line-height: 24px;
            
            @include responsive($mobile) {
                max-width: 330px;
                margin: 0 auto;
            }
        }
    }
}