.team-section {
    padding-top: 150px;

    @include responsive($default_width) {
        padding-top: 120px;
    }

    @include responsive($tablet) {
        padding-top: 70px;
    }

    .team {

        max-width: 900px;
        margin: 0 auto;

        &__content {
            padding-top: 70px;

            @include responsive($default_width) {
                padding-top: 40px;
            }
        }

        &__card {
            display: flex;
            align-items: center;
            
            @include responsive($mobile) {
                background: #0d1c325e;
                column-gap: 15px;
                padding: 20px;
                border-radius: 4px;
                display: grid;
                grid-template-columns: 72px 1fr;
                align-items: start;
            }

            &.space-between {
                justify-content: space-between;

                .team__card--image {
                    margin-left: 60px;
                    @include responsive($default_width) {
                        margin-left: 30px;
                    }

                    @include responsive($mobile) {
                        margin-left: 0;
                    }
                }

            }

            &:not(.space-between) {
                .team__card--image {
                    margin-right: 60px;
                    @include responsive($default_width) {
                        margin-right: 30px;
                    }

                    @include responsive($mobile) {
                        margin-right: 0;
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 70px;
                @include responsive($mobile) {
                    margin-bottom: 20px;
                }
            }

            &--content {
                max-width: 530px;
            }

            &--image {
                width: 270px;
                @include responsive($default_width) {
                    width: 340px;
                }
                @include responsive($mobile) {
                    order: -1;
                    width: auto;
                }

                img {
                    width: 100%;
                    border-radius: 8px;
                    @include responsive($mobile) {
                        border-radius: 4px;
                    }
                }
            }

            &--name {
                color: css_var('grey_white_color');
                font-size: 40px;
                padding-bottom: 8px;

                @include responsive($default_width) {
                    font-size: 34px;
                }

                @include responsive($tablet) {
                    font-size: 30px;
                }

                @include responsive($mobile) {
                    font-size: 20px;
                }
            }

            &--designation {
                color: css_var('primary_color');
                font-size: 16px;
                padding-bottom: 20px;
                @include responsive($mobile) {
                    font-size: 14px;
                }
            }

            &--description {
                color: css_var('grey_white_color');
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 25px;

                @include responsive($mobile) {
                    margin-top: 15px;
                    margin-left: -87px;
                    padding-bottom: 15px;
                    font-size: 15px;
                    color: css_var('secondary_color');
                }
            }

            ul {
                @include responsive($mobile) {
                    margin-left: -87px;
                    display: flex;
                    align-items: center;
                }
            }

            li {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                line-height: 30px;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                @include responsive($mobile) {
                    background: #ffffff14;
                    justify-content: center;
                    width: 31px;
                    padding-left: 9px;
                    border-radius: 5px;
                }

                a:hover {
                    color: css_var('primary_color');
                }
            }

            &--label {
                display: flex;
                align-items: center;
                margin-right: 10px;
                color: css_var('grey_white_color');
                font-size: 16px;
                font-weight: 500;

                @include responsive($mobile) {
                    font-size: 0;
                    margin-right: 0px;
                }

                .svg-icon {
                    width: 18px;
                    margin-right: 10px;
                }
            }

            &--profile {
                color: css_var('grey_white_color');
                font-size: 16px;
                font-weight: 500;

                @include responsive($mobile) {
                    display: none;
                }

                &::before {
                    content: '';
                    width: 4px;
                    height: 4px;
                    background-color: css_var('grey_white_color');
                    border-radius: 50%;
                    display: inline-block;
                    margin-left: 9px;
                    position: relative;
                    left: -9px;
                    top: -2px;
                }
            }
        }
    }


}